@import 'utilities.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px;
}

/* Header */
/*---------------------*/
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: #070520;
}
.bgcolor.scrolled{
  background-color: rgba(56, 5, 5, 0.9);
  transition: .4s ease-in-out ;
}
.hero {
  background: #070520;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 90vh;
  overflow: hidden;
  margin-top: 78px;
  padding-top: 30px;
}
.menu ul li a{
  margin-right: 15px;
  text-transform: uppercase;
}
.menu ul li a:hover{
  color: #30b3db;
}
.logo{
  margin-right: 30px;
}
.hero{
  padding-top: 80px;
}
.hero .left-image img{
  width: 535px;
  position: relative;
  top: -220px;
}
.hero .right-content{
  color: #fff;
  margin-top: 90px;
}
.hero .right-content h4{
  color: #fff;
  margin-bottom: 10px;
}
.hero .right-content h1{
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 15px;
}
.hero .right-content h1 span{
  color: #30b3db;
}
.hero .right-content p{
  color: #f6f6f6;
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 35px;
}

/* About */
/*---------------------*/

.about{
  padding: 95px 0;
}
.about-image img{
  height: 400px;
}
.about-content span{
  color: #30B3DB;
}
.about-content h3{
  margin: 10px 0;
}
.social{
  margin-top: 15px;
}
.social ul li a{
  height: 25px;
  width: 25px;
  background: #30B3DB;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}
.social i{
  color: #fff;
}

/* Services */
/*-------------------------------*/

.services{
  background: #f7f7f7;
  padding: 85px;
}
.service-box .s-box{
  background: #fff;
  padding: 20px 15px;
  transition: all 0.5s ease;
}
.icon {
  position: relative;
  margin-bottom: 35px;
}
.icon span {
  height: 60px;
  width: 60px;
  background: #30B3DB;
  display: inline-block;
  font-size: 35px;
  line-height: 60px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.s-box h1 {
  margin-bottom: 10px;
}
.s-box p {
  font-size: 15px;
  color: #777;
}
.s-box:hover{
  background: #111;
  color: #fff;
}

/* Skills Section */
/*----------------------------------------*/

.skills{
  padding: 85px;
}
.skill-bars{
  padding: 0 60px;
}
.skill-bars ul li{
  position: relative;
  margin: 50px 0;
  text-transform: uppercase;
  font-weight: 600;
}
ul li span {
  position: relative;
  top: -33px;
  left: 5px;
}
ul li .percent{
  margin-right: 15px;
}
.skill-bars ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 27px;
  background: rgba(54, 126, 223, .5);
  border-radius: 30px;
}
.skill-bars ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 27px;
  background: rgba(54, 126, 223, 1);
  border-radius: 30px;
  animation-duration: .7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.skill-bars ul li.html::after{
  animation-name: html;
}
@keyframes html{
  to {
    width: 90%;
  }
}
.skill-bars ul li.css::after{
  animation-name: css;
}
@keyframes css{
  to {
    width: 80%;
  }
}
.skill-bars ul li.js::after{
  animation-name: js;
}
@keyframes js{
  to {
    width: 60%;
  }
}
.skill-bars ul li.jq::after{
  animation-name: jq;
}
@keyframes jq{
  to {
    width: 70%;
  }
}

/* Call to action */
/*----------------------------------------*/

.call-to-action{
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)), url(../img/camera.png);
  color: #fff;
  padding: 100px 0;
  clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%);
  overflow: hidden;
}
.call-to-action-content h1{
  margin-bottom: 17px;
}
.call-to-action-content p{
  margin-bottom: 40px;
}
.call-to-action-content{
  padding-bottom: 80px;
}

/* Testimonial */
/*-----------------------------*/

.testimonial{
  padding: 85px 0;
}
.testimonial .slider .slide{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 120px;
}
.testimonial .slider .slide img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.testimonial .slider-dots .dots{
  list-style-type: none;
  display: flex!important;
  justify-content: center;
}
.testimonial .slider-dots{
  margin-top: 25px;
}
.testimonial .slider-dots .dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border: none;
    outline: none;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid #30b3db;
}
.testimonial .dots li.slick-active button{
  background: #214237;
}

/* Works Section */
/*--------------------------------*/

.works{
  padding: 85px;
  background: #f7f7f7;
}
.works .gallery-image{
  position: relative;
}
.works .gallery-image img{
  height: 220px;
  width: 100%;
}
.works .gallery-image .overlay{
  position: absolute;
  top: 0;
  display: flex;
  height: 220px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #30B3DB;
  opacity: 0;
  transition: all .3s ease;
}
.works .gallery-image .overlay:hover{
  opacity: 0.8;
}
.works .gallery-image .overlay a{
  color: #fff;
}
.works .gallery-image .overlay h1{
  font-weight: 600;
  font-size: 20px;
}

/* Blog Section */
/*---------------------------------------*/

.blog { 
  padding: 85px;
  background: #070520;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  overflow: hidden;
}
.blog .card-wrapper{
  padding-bottom: 190px;
}
.blog .card-wrapper .card{
  background: #fff;
  margin: 0 10px;
}
.card-content h1{
  margin-bottom: 10px;
}
.card-content span {
  color: rgba(123, 122, 122, .6);
  display: block;
  margin-bottom: 10px;
}
.blog .card-wrapper .card-content a{
  color: #fff;
  padding: 10px 12px;
  background: #111;
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
}
.blog .card-wrapper .card .card-content{
  padding: 10px 20px;
}
.blog .card-wrapper .card .card-content p{
  font-size: 15px;
} 

/* Contact Section */
/*------------------------------------*/

.contact{
  padding: 85px;
}
.contact .content-wrapper{
  justify-content: space-evenly;
  margin-bottom: 70px;
}
.contact .content-wrapper .icons a{
  color: #000;
  font-size: 50px;
}
.icons-content h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 8px;
}
.form-input{
  justify-content: center;
  margin-bottom: 16px;
}
.form-input-2{
  justify-content: center;
  flex-direction: column;
  padding: 0 100px;
}
.form-input .input-box {
  width: 429px;
  margin: 0 6px;
  padding: 6px 11px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #f5f5f5;
  color:rgba(123, 122, 122, .8);
}
.form-input-2 .input-box {
  width: 100%;
  padding: 6px 10px;
  border-radius: 5px;
  border: 2px solid #f5f5f5;
  font-size: 16px;
  margin-bottom: 16px;
  color:rgba(123, 122, 122, .8);
}
.form-input-2 .text-box {
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  padding: 5px 10px;
  height: 150px;
  margin-bottom: 16px;
  color:rgba(123, 122, 122, .8);
}

/* Footer Section */

footer{
  padding: 40px;
  background: #070520;
}
.footer-social ul{
 justify-content: center;
}
footer .footer-social ul li a{
  height: 25px;
  width: 25px;
  background: #30B3DB;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  border-radius: 50%;
}
footer .footer-social i{
  color: #fff;
}
footer p{
  color: #777;
  margin-top: 18px;
}