a{
  text-decoration: none;
  color: #fff;
}
ul{
  list-style-type: none;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.flex{
  display: flex;
}
.items-align{
  align-items: center;
}
.content-justify{
  justify-content: center;
}
.space-between{
  justify-content: space-between;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 60px;
} 
.grid-2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 14px;
}
.btn{
  padding: 10px 18px;
  border: 2px solid #30b3db;
}
.btn-primary{
  background: #30b3db;
  display: inline-block;
}
.btn-primary:hover{
  background: transparent;
  border: 2px solid #30b3db;
  color: #30B3DB;
}
.btn-secondary{
  background: transparent;
  color: #30b3db;
  border-color: #30b3db;
}
.btn-secondary:hover{
  background: #30b3db;
  color: #fff;
}
img{
 max-width: 100%;
}
.flex-1{
  flex:2;
}
.justify-center{
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.section-title{
  margin-bottom: 100px;
  color: #fff;
}
.section-title-2{
  margin-bottom: 100px;
  color: #111;
}
.section-title span {
  color: #30B3DB;
}
.section-title-2 span{
  color: #30B3DB;
}
.section-title h1, .section-title-2 h1{
  margin-bottom: 18px;
}
.input-box:focus{
  outline: none;
}
.text-box:focus{
  outline: none;
}